<section class="user-details">
  <%= render partial: 'user_card', locals: { user: @user } %>
  <div class="bio">
    <h2>Bio</h2>
    <p><%= @user.bio %></p>
  </div>
  <div class="recent-posts">
    <% @recent_posts.each do |post, index| %>
      <a class="post-link" href="/users/<%= @user.id %>/posts/<%= post.id %>">
        <%= render partial: '/posts/post_card', locals: { post: post }%>
      </a>
    <% end %>
  </div>
  <a href="/users/<%= @user.id %>/posts/" class="all-posts-link">
    See all posts
  </a>
</section>