<section class="posts-details">
  <div class="post-details">
    <div class="post-header">
      <p><%= @post.title %> by <%= @user.name %></p>
      <p class="counters">Comments: <%= @post.CommentsCounter || 0 %>, Likes: <%= @post.LikesCounter || 0 %></p>
    </div>
    <p><%= @post.text %></p>
  </div>
  <div class="comments">
    <% if @post.comments.length > 0 %>
      <% @post.comments.each do |comment| %>
        <p><%= comment.author.name %>: <%= comment.text %></p>
      <% end %>
    <% else %>
      <p>No comments yet</p>
    <% end %>
  </div>
  <div class="buttons">
    <%= link_to 'Add a new comment', new_user_post_comment_path(@user, @post), class: 'all-posts-link' %>
    <%= button_to 'Like', user_post_likes_path(@user, @post), method: :post, class: 'all-posts-link'%>
  </div>
</section>
