<section class="posts-section">
  <%= render partial: 'users/user_card', locals: { user: @user } %>
  <div class="posts">
    <% if @posts.length > 0 %>
      <% @posts.each do |post| %>
        <a class="post-link" href="/users/<%= @user.id %>/posts/<%= post.id %>">
          <%= render partial: 'post_card', locals: { post: post }%>
        </a>
        <div class="comments">
          <% if post.comments.length > 0 %>
            <% post.recent_comments.each do |comment| %>
              <p><%= comment.author.name %>: <%= comment.text %></p>
            <% end %>
          <% else %>
            <p>No comments yet</p>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>No posts yet</p>
    <% end %>
  </div>
  <div>
    <%= link_to 'Add a new post', new_user_post_path, class: 'all-posts-link' %>
    <a href="#" class="all-posts-link">
      Pagination
    </a>
  </div>
</section>