<section class="new-post-section">
  <h1>Create a new post</h1>
  <%= form_with model: @post, url: user_posts_path, method: :post, class: 'post-form' do |form| %>
    <%= form.label :title, 'Title' %>
    <%= form.text_field :title, class: 'post-title'%>
    <%= form.label :text, 'Content' %>
    <%= form.text_area :text, class: 'post-text'%>
    <%= form.submit 'Post', class: 'post-button', data: {disable_with: "Loading..."} %>
  <% end %>
  <p class="notice"><%= flash[:notice] %></p>
  <p class="alert"><%= flash[:alert] %></p>
  <p class="error"><%= flash[:error] %></p>
</section>
